<!-- Spinner Start -->
<!-- <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div> -->
<!-- Spinner End -->

<!-- Navbar start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Modal Search Start -->
<app-search-modal></app-search-modal>
<!-- Modal Search End -->

<!-- Page Routing Content Start-->
<router-outlet></router-outlet>
<!-- Page Routing Content End-->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Copyright Start -->
<app-copyright></app-copyright>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
